<div class="container footer">
  <div class="row-fluid">
    <div class="span12">
      <h1><%= link_to @user.name, profile_url(@user) %>的详细资料</h1>
    </div>

    <div class="span4">
      <div class="row-fluid">
        <div class="span12">
          电子邮件： 隐藏（互抛眉眼之后才可显示）
        </div>

        <div class="span12">
          <h3>项目: </h3>
          <ul>
            <% @user.projects.limit(5).each do |p| %>
            <li>
              <%= p.name %>
              <%= link_to "详情", p %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="span7">
      <h2>个人资料</h1>
      <div class="well">
        <%= simple_format @user.profile %>
      </div>
    </div>
  </div>
</div>
      
