<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1>祝贺你，你刚刚回抛了<%= link_to @flirt.sender.name, profile_url(@flirt.sender) %>的媚眼</h1>

      <h3>然后呢？</h3>
      <p>我们的系统刚刚给你们两个发了邮件，交换邮箱，快点去检查新邮件吧！你们自己线下慢慢谈。住好运！</p>
      <h3>在然后呢？</h3>
      <p>创业呗，或者<%= link_to "开始一个新项目", new_project_url %>？</p>
    </div>
  </div>
</div>
