<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1>抛出的媚眼</h1>
    </div>

    <div class="span12">
      <ul>
        <% @flirts.each do |flirt| %>
          <li><%= time_ago_in_words(flirt.created_at) %>之前抛给 <%= link_to flirt.receiver.name, profile_url(flirt) %> 的媚眼</li>
        <% end %>
      </ul>
    </div>

    <div class="span12">
      <%= paginate @flirts, :theme => 'twitter-bootstrap' %>
    </div>
  </div>
</div>
