<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1>恭喜你，有人给你抛媚眼了！</h1>
    </div>

    <div class="span12">
      <%= @flirt.created_at %><br />
      <%= link_to @flirt.sender.name, profile_url(@flirt.sender) %>向你抛了个媚眼。
    </div>

    <div class="span12">
      <%= link_to "洒家觉得#{@flirt.sender.name}还是很靠谱的，发展发展", flirt_reply_url(@flirt), :method => :post, :class => "btn btn-primary" %>
    </div>
  </div>
</div>
