<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1>联系我们</h1>
    </div>

    <div class="span12">
      <p>任何建议、意见，请告诉我们</p>

      
    </div>
  </div>
</div>
      
