<h1>随意抛媚眼，大家来组队</h1>

<h2>问题</h2>
<p>找人组队刷项目和玩游戏组队刷怪一样是个麻烦的事情，坦克找不到奶妈，奶妈找不到坦克，贼猎萨骑根本没人组。 码工不认识美工，美工没了点子，策划又找不到码工。 不如做个平台把组队交流的瓶颈解决掉。</p>
<p>很多时候要求合作都不大好意思说出口，因为怕被拒绝被鄙视，码工美工都一样，脸皮薄啊。 最好表达合作意愿的时候就来个按钮，叫做“flirting”或者抛媚眼，点一下就抛个媚眼给项目所有人，大家心领神会，线下交流。</p>
  <blockquote>
想法还不错 36氪的线下活动有这意思 -- Hanson_L
  </blockquote>
<p>有些人还是会不好意思的么。韩森同志不就人在海外无从回国参加活动么。还是眼神交流比较好。</p>

<p>哈哈哈 不过这个idea 相当好 解决了个迫切需要的问题 但要主要抓住如何方便了解互相资历这一点（评估 对方实力 与沟通）</p>

<h2>解决方法</h2>
<p>写你的公开profile，比如善于写代码，然后你抛媚眼给小强或者小强的项目小小强，小强看见你的媚眼，看了看你的公开profile，觉得他虽然某些地方很长，但是有些地方很短，需要你很长的地方，于是给你抛了一个媚眼回来，这样系统看见互抛眉眼，就自动交换邮件线下交流了。<p>
