<div class="container footer">
  <div class="row-fluid">
    <div class="span12">
      
      <h1>这个“<%= link_to "大家来组队", "/" %>”网站创办原因很简单，看这个图一看就懂</h1>
      
      <%= image_tag "story.png" %>
      
      <p>
        可是残酷的现实告诉我们，绝大多数时候都是一个人在孤独的苦逼，程序<strike>猿</strike>员总也找不到求合<strike>体</strike>作的美<strike>女</strike>工，美<strike>女</strike>工们也找不到靠谱的程序<strike>猿</strike>员。
      </p>

      <p>
        这种情况还发生在各种职业身上，所以我们就搞了这个网站，方便求合<strike>体</strike>作和共同创业。
      </p>
    </div>
  </div>
</div>
