<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h1>我的项目</h1>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span12">
      <%= paginate @projects, :theme => 'twitter-bootstrap' %>
    </div>

    <div class="span12">
      <ul>
        <% current_user.projects.limit(10).each do |project| %>
          <li><%= link_to project.name, project %></li>
        <% end %>
      </ul>
    </div>
    <div class="span12">
      <%= paginate @projects, :theme => 'twitter-bootstrap' %>
    </div>
  </div>
</div>
