<div class="container footer">
  <div class="row-fluid">
    <div class="span12">
      <footer>
        <p>
          <%= image_tag "github.png", :size => '65x54' %>
          <br />
          <%= link_to "GitHub", "https://github.com/qsun/founder_flirting" %>
        </p>
        <p>
          <ul>
            <li><a href="#about">关于/缘起</a></li>
            <li><a href="#contact">联系我们</a></li>
          </ul>
        </p>

        <p>
          <a href="http://glyphicons.com/">GLYPHICONS</a> is AWESOME! 
        </p>
      </footer>
    </div>
  </div>
</div>
