<div class="container footer">
  <div class="row-fluid">
    <div class="span12">
      <footer>
        <p>
          <%= image_tag "github.png", :size => '65x54' %>
          <br />
          <%= link_to "GitHub", "https://github.com/qsun/founder_flirting" %>
        </p>
      </footer>
    </div>
  </div>
</div>
